__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

data/raw/*.csv
data/processed/*.csv
results/figures/*.png
results/performance_reports/*.csv
results/performance_reports/*.json
results/optimization_logs/*.csv
results/optimization_logs/*.json

