.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.egg-info/
.pytest_cache/
.mypy_cache/
dist/
build/

data/raw/*
data/processed/*
results/*

!data/raw/README.md
!data/processed/README.md
!results/README.md

